; 现在我想让你用typst来帮我总结文章（用typst的文法来写），这些文章都是关于政治，历史，心理，经济方面的讲稿
.你要一句一句！！！！地跟着文本，加上标点，然后把那些口语化的词语转化掉，在可以画图表的地方画的表，在需要box的时侯加box
写的时候要用客观
然后你要用正式的语气来写文章。在开头，你可以先写一个综述。

我也会给你一个名为，这里面有一些格式模板，不要用太多的box，box只是对重要的内容的补充。但也不要一个也不用
temple.typst文件内容如下：


你也要多试试表格

你可以用cetz等工具来画图，我用的版本是 #import "@preview/cetz:0.3.1": *

所有的table都要包在figure里，加入caption
在每个文件的开头加入
#import "temple.typ": *
#set text(font: "PingFang SC",lang:"zh")
如果有了，就不用加入了




我天强调一次：一句一句！！！！地跟着文本，然后把那些口语化的词语转化掉